*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.d1{
    
    width: 100%;
    height: 100vh; 
}
.p1{
    font-size: 22px;
    padding: 8px;
    text-align: justify;
}


.back{
    background-image: url(Pics/jjj/air.jpg);
    background-size: cover;
    height: 50%;
}

.name{
    display: flex;
    
}
.logo{
    font-size: 25px;
    color: black;
    padding: 12px;
}
h3{
    color: black;
    padding: 8px;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 50%;   
}
.media{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.p6{
    font-size: 26px;
    padding: 8px;
    color: rgb(51, 151, 238);
}
li{
    list-style: none;
    padding: 12px;
}
.ilogo{
    font-size:33px;
    
}

.card{
    background-color: wheat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card2{
    padding: 18px;
    width: 80%;
    background-color: rgb(162, 203, 240);
    border-radius: 14px;   
    
}

h4{
    text-align: center;
}
footer{
    background-color: black;
    padding: 18px;
    
}
.foot{
    font-size: 20px;
    text-align: center;
    color: wheat;
}
@media (min-width:768px){
    .back{
    background-image: url(Pics/jjj/air.jpg);
    background-size: cover;
    height: 73%;
} 
.p1{
    font-size: 22px;
}
}
@media (min-width:1024px){
    .back{
    background-image: url(Pics/jjj/air.jpg);
    background-size: cover;
    height: 60%;
}
.card{
    width: 100%;
}
.card2{
    padding: 18px;
    width: 80%;
    background-color: rgb(162, 203, 240);
    border-radius: 14px;   
    width: 80%;
}


}