*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.d1{
    width: 100%;
    height: 100vh;
}
.name{
    display: flex;
    
}
.logo{
    font-size: 25px;
    color: black;
    padding: 12px;
}
h3{
    color: black;
    padding: 8px;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 50%; 
    
}
.con1{
    width: 100%;
    height: 40%;
   background-color: wheat;
    
}
h1{
    font-size: 26px;
    padding: 4px;
}

.c2{

    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: right;
    width: 70%;
}
.back{
    width: 100%;
    height: 60%;
    background-image: url(Pics/a58eeb3a7440f319ed90b99ef36cc48b.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content:center ;
}
.c3{
    background-color: wheat;
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.p3{
    font-size: 26px;
    padding: 8px;
    text-align: center;
}
.box{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: wheat;
}
.b1{
    border: 1px solid black;
    background-color:rgb(131, 191, 214);
    margin: 4px;
    width: 90%;
    
}
.logo1{
    font-size: 30px;
    padding: 18px;
}
.h3{
    font-size: 18px;
}
.p4{
    font-size: 18px;
    padding: 8px;
}
button{
    padding: 12px;
    font-size: 20px;
    margin: 12px;
    border: none;
    border-radius: 8px;
}
.b2{
    border: 1px solid black;
    background-color:rgb(131, 191, 214);
    width: 90%;
    margin: 4px;
}
.b3{
    border: 1px solid black;
    background-color:rgb(131, 191, 214);
    width: 90%;
    margin: 4px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: wheat;
}
.p5{
    font-size: 22px;
}
.card1{
    border: 1px solid black;
    width: 80%;
    margin: 8px;
}
.card-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}
.card-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}
footer{
    background-color:black;
}
.media{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.p6{
    font-size: 22px;
    padding: 8px;
    color: aliceblue;
}
li{
    list-style: none;
    padding: 12px;
}
.ilogo{
    font-size:33px;
    
}
@media (min-width:768px){
.p1{
    font-size: 23px;
}
}
@media (min-width:1024px){
    .con1{
    width: 100%;
    height: 30%;
   background-color: wheat;  
}

.back{
    width: 100%;
    height: 70%;
    background-image: url(Pics/jjj/shinjuku\ kabuki-cho.jpg);
    
    
}
.p3{
    font-size:30px;
    color:black;
    background-color: wheat;
    border-radius: 12px;
}
.c3{
    background-color: transparent;
    width: 20%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.box{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color:transparent;
    position: absolute;
    top: 350px;
}
.b1{
    border: 1px solid black;
    background-color:wheat;
    margin: 4px;
    width: 30%;
    border-radius: 12px;
    
}
.b2{
    border: 1px solid black;
    background-color:wheat;
    margin: 4px;
    width: 30%;
    border-radius: 12px;
    
}
.b3{
    border: 1px solid black;
    background-color:wheat;
    margin: 4px;
    width: 30%;
    border-radius: 12px;
    
}

 .c2{
width: 70%;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: wheat;
}
.p5{
    font-size: 22px;
}
.card1{
    border: 1px solid black;
    width: 30%;
    margin: 14px;
    
}
.card-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    margin: 5px;
}
.card-bottom{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin: 5px;
}

.img2{
    height: 337px;
}

}